---
layout: default
---

<article class="post">
    <m3e-button variant="text" href="/blogs.html" class="back-link">
        <m3e-icon slot="icon" name="arrow_back"></m3e-icon>
        Back to Blogs
    </m3e-button>

    <header class="post-header">
        <m3e-heading variant="display" size="small" emphasized level="1">{{ page.title }}</m3e-heading>
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
    </header>

    <div class="prose">
        {{ content }}
    </div>
</article>
